/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-Dec-2018, 10:10:06
    Author     : SkyGit
*/





body 

{ font: verdana, 
sans-serif;     
font-size: 20px;    
 background-color: lightgrey; padding: 20px; color: navy;    
 text-align: center; }

nav {text-align: left} 

footer { background-color: dimgray;         
         color: white;         
         font-size: 16px}